body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* background-image: url("asset/bg.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed; */
    background-color: white;
}

header {
    background: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.card {
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: 200px;
    text-align: center;
    transition: transform 0.2s;
}

.card img {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.card:hover {
    transform: scale(1.05);
}